header{
    background-color: aquamarine;
}
.cabecalho{
    background-color: #59BE50;
    color: white;
    display: flex;
    padding: 30px;
    font-size: 30px;
    justify-content: space-around;
}
.cabecalho-item{
    display: inline-block;
    padding: 0px 30px;
}

.turma{
    background-image: linear-gradient(#59BE50,#0d440923);
    padding: 50px 250px;
    font-size: 26px;
}

.titulo{
        padding-bottom: 30px;

}

.turma-img{
        width: 250px;
        align-self:auto
}

.chris{
    width: 250px;
        align-self:auto
}

.est-icone{
    width: 24px;
}

.estudantes_div{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.568);
}